<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <classPathEntry location="./target/dependency/mysql-connector-java-5.1.34.jar"/>

    <context id="context1" defaultModelType="flat" targetRuntime="MyBatis3">

        <plugin type="top.sillyfan.auxiliaryplatform.dao.MySQLLimitPlugin"/>

        <commentGenerator>
            <property name="suppressAllComments" value="false"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="${mybatis.generator.jdbcDriver}"
                        connectionURL="${mybatis.generator.jdbcURL}"
                        userId="${mybatis.generator.jdbcUserId}"
                        password="${mybatis.generator.jdbcPassword}"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="top.sillyfan.auxiliaryplatform.domain.model"
                            targetProject="./src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="top.sillyfan.auxiliaryplatform.domain.model.repository"
                         targetProject="./src/main/resources/config/mybatis/mapper">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!--<javaClientGenerator targetPackage="top.sillyfan.auxiliaryplatform.domain.model.repository"-->
        <!--targetProject="./src/main/java" type="XMLMAPPER">-->
        <!--<property name="enableSubPackages" value="false"/>-->
        <!--</javaClientGenerator>-->


        <table tableName="t_user" domainObjectName="User"
               enableCountByExample="true"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="false">

            <property name="rootClass" value="top.sillyfan.auxiliaryplatform.domain.model.extend.UserMore"/>

            <generatedKey column="id" sqlStatement="MySql" identity="true"/>

            <columnOverride column="online" javaType="java.lang.Integer"/>
            <columnOverride column="price" javaType="java.math.BigDecimal"/>
            <columnOverride column="balance" javaType="java.math.BigDecimal"/>
            <columnOverride column="authorizes" javaType="top.sillyfan.auxiliaryplatform.domain.model.json.StringList"
                            typeHandler="top.sillyfan.auxiliaryplatform.dao.mybatis.typehandler.StringListTypeHandler"/>
            <columnOverride column="status" javaType="java.lang.Integer"/>
            <columnOverride column="type" javaType="java.lang.Integer"/>
            <columnOverride column="task_status" javaType="java.lang.Integer"/>
            <columnOverride column="last_password_reset_date" javaType="org.joda.time.DateTime"
                            typeHandler="top.sillyfan.auxiliaryplatform.dao.mybatis.typehandler.JodaDateTimeTypeHandler"/>

            <columnOverride column="expire_date" javaType="org.joda.time.DateTime"
                            typeHandler="top.sillyfan.auxiliaryplatform.dao.mybatis.typehandler.JodaDateTimeTypeHandler"/>
        </table>

        <table tableName="t_access_token" domainObjectName="AccessToken"
               enableCountByExample="true"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="false">

            <columnOverride column="type" javaType="java.lang.Integer"/>

            <columnOverride column="expire" javaType="org.joda.time.DateTime"
                            typeHandler="top.sillyfan.auxiliaryplatform.dao.mybatis.typehandler.JodaDateTimeTypeHandler"/>
        </table>

        <table tableName="t_access" domainObjectName="Access"
               enableCountByExample="true"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="false">

            <property name="rootClass" value="top.sillyfan.auxiliaryplatform.domain.model.extend.AccessMore"/>

            <generatedKey column="id" sqlStatement="MySql" identity="true"/>

            <columnOverride column="status" javaType="java.lang.Integer"/>

            <columnOverride column="create_time" javaType="org.joda.time.DateTime"
                            typeHandler="top.sillyfan.auxiliaryplatform.dao.mybatis.typehandler.JodaDateTimeTypeHandler"/>
            <columnOverride column="update_time" javaType="org.joda.time.DateTime"
                            typeHandler="top.sillyfan.auxiliaryplatform.dao.mybatis.typehandler.JodaDateTimeTypeHandler"/>
        </table>

        <table tableName="t_settlement" domainObjectName="Settlement"
               enableCountByExample="true"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="false">

            <property name="rootClass" value="top.sillyfan.auxiliaryplatform.domain.model.extend.SettlementMore"/>

            <generatedKey column="id" sqlStatement="MySql" identity="true"/>

            <columnOverride column="user_type" javaType="java.lang.Integer"/>

            <columnOverride column="update_time" javaType="org.joda.time.DateTime"
                            typeHandler="top.sillyfan.auxiliaryplatform.dao.mybatis.typehandler.JodaDateTimeTypeHandler"/>
        </table>

        <table tableName="t_task" domainObjectName="Task"
               enableCountByExample="true"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="false">

            <property name="rootClass" value="top.sillyfan.auxiliaryplatform.domain.model.extend.TaskMore"/>

            <generatedKey column="id" sqlStatement="MySql" identity="true"/>

            <columnOverride column="status" javaType="java.lang.Integer"/>

            <columnOverride column="price" javaType="java.math.BigDecimal"/>

            <columnOverride column="expire_time" javaType="java.lang.Integer"/>

            <columnOverride column="create_time" javaType="org.joda.time.DateTime"
                            typeHandler="top.sillyfan.auxiliaryplatform.dao.mybatis.typehandler.JodaDateTimeTypeHandler"/>
            <columnOverride column="update_time" javaType="org.joda.time.DateTime"
                            typeHandler="top.sillyfan.auxiliaryplatform.dao.mybatis.typehandler.JodaDateTimeTypeHandler"/>
        </table>

        <table tableName="t_user_config" domainObjectName="UserConfig"
               enableCountByExample="true"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="false">

            <property name="rootClass" value="top.sillyfan.auxiliaryplatform.domain.model.extend.UserConfigMore"/>

            <generatedKey column="id" sqlStatement="MySql" identity="true"/>

            <columnOverride column="prefer_auxiliaries"
                            javaType="top.sillyfan.auxiliaryplatform.domain.model.json.LongSet"
                            typeHandler="top.sillyfan.auxiliaryplatform.dao.mybatis.typehandler.LongSetTypeHandler"/>

            <columnOverride column="prefer_demanders"
                            javaType="top.sillyfan.auxiliaryplatform.domain.model.json.LongSet"
                            typeHandler="top.sillyfan.auxiliaryplatform.dao.mybatis.typehandler.LongSetTypeHandler"/>
        </table>

        <table tableName="t_user_task_link" domainObjectName="UserTaskLink" alias="utl"
               enableCountByExample="true"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="false">

            <property name="rootClass" value="top.sillyfan.auxiliaryplatform.domain.model.extend.UserTaskMore"/>

            <generatedKey column="id" sqlStatement="MySql" identity="true"/>

            <columnOverride column="status" javaType="java.lang.Integer"/>

            <columnOverride column="create_time" javaType="org.joda.time.DateTime"
                            typeHandler="top.sillyfan.auxiliaryplatform.dao.mybatis.typehandler.JodaDateTimeTypeHandler"/>
            <columnOverride column="update_time" javaType="org.joda.time.DateTime"
                            typeHandler="top.sillyfan.auxiliaryplatform.dao.mybatis.typehandler.JodaDateTimeTypeHandler"/>
        </table>


        <table tableName="t_recharge_record" domainObjectName="RechargeRecord"
               enableCountByExample="true"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="false">

            <property name="rootClass" value="top.sillyfan.auxiliaryplatform.domain.model.extend.RechargeRecordMore"/>

            <generatedKey column="id" sqlStatement="MySql" identity="true"/>

            <columnOverride column="type" javaType="java.lang.Integer"/>

            <columnOverride column="create_time" javaType="org.joda.time.DateTime"
                            typeHandler="top.sillyfan.auxiliaryplatform.dao.mybatis.typehandler.JodaDateTimeTypeHandler"/>
        </table>

    </context>

</generatorConfiguration>